:root {
  --dark-gray: #262626;
  --med-gray: #333333;
  --light-gray: #d9d9d9;
  --maroon: #660000;
  --light-maroon: #990000;
  --led-green: #00cc00;
  --blue-shadow: #0073e6;
  --red-shadow: #b30000;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: box-border;
}

body {
  background-image: url("media/background.png");
  font-family: 'Roboto Condensed', sans-serif;
}

#info-div {
  text-align: right;
  padding: 20px 20px 0px 0px;
}

#info {
  color: gray;
}

#simon {
  margin: auto;
  width: 440px;
  height: 440px;
  background-color: var(--dark-gray);
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  position: relative;
  box-shadow: 4px 4px 18px 5px gray;
}

.row {
  height: 220px;
}

.pad {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 10px;
  box-shadow: inset 0px 0px 20px 3px var(--med-gray);
  cursor: pointer;
}

#green {
  border-top-left-radius: 100%;
}

.green-off {
  background-color: green;
}

.green-on {
  background-color: lime;
}

#red {
  border-top-right-radius: 100%;
}

.red-off {
  background-color: firebrick;
}

.red-on {
  background-color: red;
}

#blue {
  border-bottom-right-radius: 100%;
}

.blue-off {
  background-color: blue;
}

.blue-on {
  background-color: deepskyblue;
}

#yellow {
  border-bottom-left-radius: 100%;
}

.yellow-off {
  background-color: goldenrod;
}

.yellow-on {
  background-color: yellow;
}

#center {
  background-color: var(--light-gray);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 12px solid var(--dark-gray);
}

.imgrow {
  display: flex;
  padding-top: 10px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10%);
}

.imgcol {
padding-left: 10px;
}

#name {
  font-family: 'Changa One', cursive;
  font-size: 2.5rem;
  padding-top: 10px;
}

#logo-footer {
  font-family: 'Changa One', cursive;
  font-size: 3.5rem;
  padding-top: 40px;
  text-align: center;
}

#logo-header {
  margin: auto;
  font-family: 'Changa One', cursive;
  font-size: 3.5rem;
  padding-top: 10px;
  text-align: center;
  position: relative;
}

.far {
  font-size: 0.5rem;
  margin-left: 1px;
}

.switch-box {
  height: 18px;
  background-color: black;
  border: 2px solid var(--dark-gray);
  border-radius: 4px;
  box-shadow: -2px 4px 10px gray;
  cursor: pointer;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 0.65rem;
  margin-top: 1px;
}

.small-switch-box {
  width: 30px;
}

.switch {
  width: 10px;
  height: 12px;
  margin: 0px 1px;
  background-color: dodgerblue;
  border: outset 2px dodgerblue;
  border-radius: 2px;
  box-shadow: 1px 1px 2px var(--blue-shadow);
}

.inline-block {
  display: inline-block;
  width: 17px;
}

#big-switch-box {
  width: 50px;
}

#rounds {
  margin: auto;
}

#count {
  height: 23px;
  width: 40px;
  background-color: var(--maroon);
  border: 2px solid var(--dark-gray);
  border-radius: 5px;
  line-height: 23px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 2px 2px 6px 1px gray;
}

.count-on {
  color: red;
}

.count-off {
  color: var(--light-maroon);
}

.led {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 3px;
  border: 1px solid var(--dark-gray);
  display: inline-block;
}

.button {
  border: 2px solid var(--dark-gray);
  border-radius: 50%;
  height: 22px;
  width: 22px;
  box-shadow: 2px 2px 4px gray;
  display: block;
}

#start {
  background-color: red;
}

.led-off {
  background-color: var(--maroon);
}

.led-on-green {
  background-color: var(--led-green);
}

.led-on-red {
  background-color: red;
}

#strict {
  background-color: yellow;
}

.power-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.power-on-off {
  padding: 4px;
}

#power {
  background-color: red;
  border: outset 2px red;
  box-shadow: 1px 1px 2px var(--red-shadow);
  float: right;
}

.disabled {
  pointer-events: none;
}

footer {
  margin: 20px;
  font-size: 0.95em;
  font-weight: bold;
  text-align: right;
}
footer span {
  background: linear-gradient(to right, goldenrod, firebrick 33%, green 66%, blue);
  color: transparent;
  -webkit-background-clip: text;
}
footer a, footer a:visited {
  font-size: 0.85rem;
  color: var(--dark-gray);
}
footer a:hover, footer a:active {
  color: gray;
}

#information {
  display: none;
  width: 75%;
  background-color: black;
  padding: 0px 5px 5px;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-animation: animatetop 0.7s ease-in-out;
  animation-name: animatetop 0.7s ease-in-out;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 50px;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 50px;
    opacity: 1;
  }
}
#close-div {
  text-align: right;
  padding: 5px 0px;
}

#close {
  color: white;
}

#instructions {
  background-color: white;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 2px 2px 5px var(--dark-gray);
  max-height: 70vh;
  overflow-y: auto;
  /* Tell the list-items to not display numbers, but keep track of what the numbers should be */
  /* Output the numbers using the counter() function, but use a custom color, and position the numbers */
}
#instructions h1 {
  text-align: center;
}
#instructions h1 span {
  background: linear-gradient(to right, goldenrod, firebrick 33%, green 66%, blue);
  color: transparent;
  -webkit-background-clip: text;
}
#instructions hr {
  border: 1px solid gray;
  margin: 15px 0px;
}
#instructions h2 {
  color: black;
}
#instructions p {
  color: black;
}
#instructions ol {
  padding: 15px;
}
#instructions li {
  counter-increment: list;
  list-style-type: none;
  position: relative;
  color: black;
}
#instructions li:before {
  color: black;
  content: counter(list) ".";
  left: -30px;
  position: absolute;
  text-align: right;
  width: 26px;
}

@media screen and (max-width: 576px) {
  html {
    font-size: 13px;
  }

  #simon {
    width: 340px;
    height: 340px;
  }

  .row {
    height: 170px;
  }

  .pad {
    width: 155px;
    height: 155px;
    margin: 7.5px;
  }

  #center {
    width: 160px;
    height: 160px;
    padding: 2px;
  }

  #name {
    font-size: 2rem;
    margin-bottom: 3px;
  }

  .switch-box {
    height: 15px;
  }

  .controls {
    font-size: 0.65rem;
  }

  .small-switch-box {
    width: 28px;
  }

  .switch {
    width: 8px;
    height: 10px;
  }

  .inline-block {
    width: 15px;
  }

  #count {
    height: 21px;
    width: 33px;
    line-height: 21px;
    font-size: 15px;
  }

  .button {
    height: 20px;
    width: 20px;
  }

  .power-div {
    margin-top: 7px;
  }

  .power-on-off {
    padding: 4px;
  }
}
